/* pages/noticedetail/noticedetail.wxss */
.author {
  width: 100%;
  font-size: 25rpx;
  padding-left:30px;
  padding-right:30px;
  align-items:center;
  justify-content:center;
  margin-top:20px;
}

.title {
  width: 100%;
  padding-left:20px;
  padding-right:20px;
  align-items:center;
  justify-content:center;
}