<!--pages/roadresult/roadresult.wxml-->
<!--pages/roadline/roadline.wxml-->
<view class="container">
  <view class="sug-input">
    <view class="transit-sug-click-hook">
      <view class="transit-search-box" data-id="start" bindtap="bindViewTap">
        <view class="sug-line-icon-start"></view>
        <input value="{{ starttitle }}"disabled="true" placeholder="我的位置"/>
      </view>
      <view class="divline"></view>
      <view class="transit-search-box" data-id="end" bindtap="bindViewTap">
        <view class="sug-line-icon-end"></view>
        <input value="{{ endtitle }}" disabled="true" placeholder="输入终点"/>
      </view>
    </view>
  </view>
  <view style="margin-top: 60px;width:100%" class="weui-panel weui-panel_access">
    <view class="weui-panel__bd" data-index="{{ index }}" wx:for="{{linelist}}" wx:key="{{index}}" bindtap="bindViewMap">
      <view class="weui-media-box weui-media-box_text">
          <view class="weui-media-box__title weui-media-box__title_in-text">{{item.duration}}分钟  步行{{item.walkdistance}}米</view>
          <view class="weui-media-box__desc">
            <view class="display:flex;flex-wrap:wrap;flex-direction:row;" wx:for="{{item.busstr}}" wx:key="{{ind}}">
              <view style="border:2px;flex:1;" wx:if="{{item.type == 0}}">
                {{item.line}}路
              </view>
              <view style="border:2px;flex:1;" wx:if="{{item.type == 1}}">
                {{item.line}}
              </view>
            </view>
          </view>
      </view>
    </view>
  </view>
</view>

