<!--main.wxml-->
 <view class="container">
  <view class="sug-input">
    <view class="transit-sug-click-hook">
      <view class="transit-sug-search-icon">
        <image style="width: 40rpx;height: 40rpx;padding-left: 10px;padding-top: 17px;" src="/static/search.png"></image>
      </view>
      <input placeholder="搜地点，查公交" bindinput="getSug"/>
    </view>
    <scroll-view scroll-y="true" class="transit-sug-list">
      <view wx:for="{{suggests}}" wx:key="{{index}}" wx:for-item="suggest" class="transit-list-item">
        <navigator url="../busline/busline?lineid={{suggest.id}}">
          <view class="transit-list-item-inner">
            <view class="transit-sug-icon">
              <view class="sug-line-icon"></view>
            </view>
            <view class="transit-sug-text">
              <view class="transit-sugitem-name">{{suggest.lineName}}</view>
              <view class="transit-sugitem-desc">{{suggest.direction}}</view>
            </view>
          </view>
        </navigator>
      </view>
    </scroll-view>
  </view>
</view>
<import src="../../tabbar.wxml" />  
<template is="tabBar" data="{{tabBar: tabBar}}" /> 